body{

	font-size: 14px !important;;

}

.card{

	border-radius: 7px !important;
	box-shadow: none !important;
}

.elevation-1{
	box-shadow: none !important;
}

.card-header{

	border-radius: 10px 10px 0px 0px !important;

}

.bg-light{
	background-color: #FFFFFF !important;
}

.card-footer{

	border-radius: 0px 0px 10px 10px !important;

}



.card-body{

	padding: 20px;
	box-shadow: none !important;
}





.announcement_title{

	color: #0d74bc;

	font-weight: 600;

	font-size: 21px;

	letter-spacing: 0.5px;

}







/* ============================================================= TOP NAV =============================================================== */

.content-wrapper{

	padding-top: 53.72px !important;

	background-color: transparent !important;

}





.nav-size{

	width: 234px;

}







/* ================================================================ TABLE ======================================================= */

table { 

	width: 100%; 

	border-collapse: collapse; 

  }

  

  th:not(.bootstrap-datetimepicker-widget th){ 

	color: #1a1a1a9c; 

	font-weight: bold; 

	font-size: 20px;

	margin-bottom: 20px !important;

  }

  td, th { 

	padding: 6px; 

	text-align: left; 

  }



  .bootstrap-datetimepicker-widget th{

	padding: 2px !important; 

  }

  .bootstrap-datetimepicker-widget td{

	padding: 2px !important; 

  }



  th{

	  color: rgb(15, 15, 15) !important;

	  font-size: 18px !important;

  }



  td{

	color: #415368; 

	font-size: 15px;

  }



  thead{

	font-size: 20px !important;

  }







/* ======================================================= MEDIA SCREEN ============================================= */



/* ============ TOGGLE BUTTON IN SIDEBAR ================= */





@media screen and (min-width: 1010px){

	#sidebar_toggle_btn_container{

		display:none !important;

	}



	.main-header{

		border-bottom: none;

	}

}







/* ========= DASHBOARD =========== */



@media only screen and (max-width: 450px){

	.btn-container{

		clear: both !important;

		display: block;

		width: 100%;

		margin-left: 25% ;

		text-align: center !important;

	}



	.search_data{

		clear: both !important;

		margin-top: 10px;

		max-width: 250px !important;

		margin-right: 5% ;

		display: block;

	}

}



@media screen and (max-width: 406px){

	h5{

		margin-bottom: 0px !important;

	}

	

}



/* arrange buttons in contact.php */

@media screen and (max-width: 352px){

	.addContact{

		width: 100px !important;

		font-size: 13px !important;

		padding: 8px !important;

	}

	

	.importContact{

		width: 100px !important;

		font-size: 13px !important;

		padding: 8px 2px 8px 2px!important;

	}

}



@media screen and (max-width: 557px){

	.search_data:not(#addValue){

		display: none !important;

	}

}



.nav-link .active{

	background-color: #E5E5E5;

  }

  .nav-link .active .main .firebase_dropdown_open{

	background-color: #E5E5E5 ;

  }