* {
	box-sizing: border-box;
	font-family: 'Lato',sans-serif;
  }

html,body{
margin: 0;
padding: 0;
background-color: #f5f5f5;
height: 100% !important;
width: 100% !important;
font-size: 14px;
font-family: 'Lato', sans-serif;
}


/* ================================================================ Standard Classes ============================================================ */

.btn-primary{
	background-color: #0d74bc;
	color: #fff;
	font-size: 14px !important;
}

.btn-primary:hover{
	background-color: #197fc7;
	color: #fff;
}

.btn-light{
	background-color: #fff;
	color: black;
	box-shadow: 0 0 0 1px rgb(43 45 80 / 10%), 0 2px 5px 0 rgb(43 45 80 / 8%), 0 1px 1.5px 0 rgb(0 0 0 / 7%), 0 1px 2px 0 rgb(0 0 0 / 8%);
}

.active{
	font-weight: 600;
}

span{
	font-size: 15px !important;
}
.text-muted{
	color: #a9b6bc!important;
}


.author_date{
	font-size: 10.4px !important;
}

.author_name{
	font-size: 12px !important;
}

.modal-title{
	font-size: 20px;
}

.card{
	border-radius: 10px !important;
	padding: 20px;
}

.card-header{
	padding-top: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

a{
	color: #197fc7;
}

.page-item .active .page-link{
	background-color: #197fc7 !important;
}

.announcement_title{
	color: #0d74bc;
	font-weight: 600;
	font-size: 21px;
	letter-spacing: 0.5px;
}

.plain_text{
	font-size: 13px;
}

.nav_item_active{
	margin-top: 0; 
	border: none; 
	border-bottom: 4px solid #0d74bc;
}

/* ============================================================= TOP NAV =============================================================== */
.content-wrapper{
	padding-top: 53.72px !important;
	background-color: #f2f7fe;
}

.os-content{
	padding: 0px !important;
	border-radius: 0px !important;
}

.nav-pills .nav-link {
    color:#fff !important;
}

#display-name{
	color:#fff !important;
}

#display-name:hover{
	color:#213148 !important;
	text-decoration: none;
}

.nav-header{
	color:#aacff0 !important;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	padding: 7.5px 15px !important;
}

.nav-link:not(.nav_pill,.toggle_menu):hover{
	background-color: #0f67a3 !important;
	color:#fff !important;
}

.nav-link.active{
	background-color: #fff !important;
	color:#213148 !important;
}


/* ============================================================== SIDEBAR =================================================== */
[class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-treeview {
    background-color: #171a1d !important;
	border-radius: 0px 0px 6px 6px;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:hover {
    background-color: #007bff;
    color: #fff;
}

/* ================================================================ CARDS ======================================================= */
.card{
	background-color: #fff !important;
	-webkit-box-shadow: 0 7px 14px 0 rgb(65 69 88 / 10%), 0 3px 6px 0 rgb(0 0 0 / 7%) !important;
    box-shadow: 0 1px 14px 0 rgb(65 69 88 / 10%), 0 1px 6px 0 rgb(0 0 0 / 7%) !important;
}

.card .card-title{
	font-size: 14px;
    font-weight: 600;
    color: #74788d;
}

/* ================================================================ TABLE ======================================================= */
table { 
	width: 100%; 
	border-collapse: collapse; 
  }
  
  th:not(.bootstrap-datetimepicker-widget th){ 
	color: #1a1a1a9c; 
	font-weight: bold; 
	font-size: 20px;
	margin-bottom: 20px !important;
  }
  td, th { 
	padding: 6px; 
	text-align: left; 
  }

  .bootstrap-datetimepicker-widget th{
	padding: 2px !important; 
  }
  .bootstrap-datetimepicker-widget td{
	padding: 2px !important; 
  }

  th{
	  color: rgb(15, 15, 15) !important;
	  font-size: 18px !important;
  }

  td{
	color: #415368; 
	font-size: 15px;
  }

  thead{
	font-size: 20px !important;
  }



/* ======================================================= MEDIA SCREEN ============================================= */

/* ============ TOGGLE BUTTON IN SIDEBAR ================= */


@media screen and (min-width: 1010px){
	#sidebar_toggle_btn_container{
		display:none !important;
	}

	.main-header{
		border-bottom: none;
	}
}



/* ========= DASHBOARD =========== */

@media only screen and (max-width: 450px){
	.btn-container{
		clear: both !important;
		display: block;
		width: 100%;
		margin-left: 25% ;
		text-align: center !important;
	}

	.search_data{
		clear: both !important;
		margin-top: 10px;
		max-width: 250px !important;
		margin-right: 5% ;
		display: block;
	}
}

@media screen and (max-width: 406px){
	h5{
		margin-bottom: 0px !important;
	}
	
}

/* arrange buttons in contact.php */
@media screen and (max-width: 352px){
	.addContact{
		width: 100px !important;
		font-size: 13px !important;
		padding: 8px !important;
	}
	
	.importContact{
		width: 100px !important;
		font-size: 13px !important;
		padding: 8px 2px 8px 2px!important;
	}
}

@media screen and (max-width: 557px){
	.search_data:not(#addValue){
		display: none !important;
	}
}