body{
    background:#E1EBEE;
}

.container-fluid{
    background-image: url("../web-assets/css/Ebulletin_BG.png");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: right;
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    align-items: center;
    position: relative;
}

.row {
    height: 100%;
    
}
.head_img{
    width: 60%;
    position:absolute;
    min-height: 35px;
    text-align:center;
    
    margin: 0;
    position: absolute;
    top: 20%;
    left: 55%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    display: none;
        
}

.login_image{
    width: 80%;
    margin-top: 180px;
    margin-left: 20% !important;
    z-index: 99 !important;
}

input[type=email]:focus, input[type=password]:focus{
    box-shadow: 0 0 5px rgb(93, 172, 245);
  }

  .form-control{
      width: 90%;
      margin-left: 1rem;
  }

.section_motto h2{
    color: #fff;
    position: absolute;
    top: 48%;
    font-size: 31px;
    font-weight: lighter;
    left: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 30px;
}
.form_box {
    border-radius: 8px;
    border: 1px solid ;
    width: 22rem;
    background-color: #fff;
    -webkit-box-shadow: 3px 6px 17px -10px #000000; 
    box-shadow: 3px 6px 17px -10px #000000;
    margin: auto;
    height: auto;
    position: relative;
    text-align:center;
    z-index: 99 !important;
}

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 99 !important;
}

/* ===================================================================== LOGIN VERIFICATION ==================================================================== */

.center_validation_form{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 99 !important;
}

.form_verification_box{
    width: 100%;
    max-width: 500px;
    margin-left:auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 20px;
    padding: 38px;
}

.otp_input_container{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.otp_input{
    width: 50px;
    height: 50px;
    margin: 0px 10px 0px 10px;
    border-radius: 8px;
    border: 1px solid rgb(87, 87, 87);
}

.otp_input[type=text]{
    color: #0769e5;
    height: 28px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    height: 50px;
}


/* ============================================================ NEW REGISTRATION FORM ======================================================== */
.sign_up_container h5{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

a:hover{
    text-decoration: none;
}

.name_container{
    padding-bottom: 16px;
}

/* =========================================================================================================================================== */


.Log-btn {
    width: 90%;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bolder;
}

#InputEmail{
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;  
}
#InputPassword{
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
}

#sUp{
    background-color: rgb(20, 182, 20);
    border-color: green;
}

.Sub-btn {
    margin-top: 10px;
    width: 30%;
}

label.error {
	color: red!important;
	margin-top:5px;
    margin-bottom: -.01rem;
	margin-left:10px;
}
.lower-note {
	margin-top: 5px;
	font-size: .6em;
	color: white;
}

.form-check{
    margin-top: 1rem;
    margin-bottom: -1%;
}

.google_sign{
    width: 10%;
    margin-left: 1rem;
    margin-top: -2%;
}

.contains {
    background-color: white;
    height: 400px;
    max-width:300px;
    border: 1px solid #999;
    box-shadow: rgba(37, 37, 37, 0.8) 1px 1px 1px 1px;
    box-sizing: border-box;
    margin-top: 10%;
    border-radius: 8px;
    padding: auto;
    margin-bottom: 2%;
    margin-left: 30%;
}

.icon-container {
    position: relative;
    text-align: center;
}

.profile {
    position: absolute;
    left: 15%;
    top: 36%;
    height: 40%;
    display: inline-flex;
    
}

.Fix{
    position: relative;
    border-radius: 20px;
    height: 100%;
    color: rgb(10, 10, 10);

}

.close{
    position: absolute;
    top: 20px;
    right: 20px;
}
.signup_btn button{
    color: #fff;
    padding: 5px 30px;
    background-color: rgb(11, 149, 11);
    border: none;
    outline:none;
    border-radius: 5px;
}
.signup_btn button:hover{
    transition: .4s;
    background-color: rgb(71, 184, 71);
}
.Signup{
    position: relative;
    left: 1%;
    font-size: 25px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Signup small {
    left: 1rem;
    position: relative;
    top: 10px;
    font-size: 15px;
}
.Signup p {
    left: 1rem;
    position: relative;
    top: 29px;
    font-weight: 360;
    font-size: 30px;
}

.form {
    border-radius: 10px;
    border: 1px solid #999;
    
}

/* .btn {
	padding: 5px 30px;
	border-radius: 5px;
	background-color: #337aff;
	border: none;
	outline: none;
	font-size: 1em;
	font-weight: normal;
	margin-top: 5px;
	cursor: pointer;
}
*/
.btn-signUp {
	padding: 5px 30px;
	border-radius: 5px;
	background-color: green;
	border: none;
	outline: none;
	font-size: 1em;
	font-weight: normal;
	margin-top: 5px;
	cursor: pointer;
    text-align: center;
}  

.input-group{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #fff;
    position: relative;
}

.bottom-btn{
    margin-top: 2rem;
}

label.error {
    font-size: 12px;
	color: red!important;
	margin-top:5px;
    margin-bottom: -.01rem;
	margin-left:10px;
}

#First {
    border-radius: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    outline:none;
    
}
#Last {
    border-radius: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
}

/* The Modal (background) */

  .modal-content{
      border-radius: 8px !important;
      -webkit-box-shadow: 3px 6px 17px -10px #000000; 
        box-shadow: 3px 6px 17px -10px #000000;
        margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 80%; /* Could be more or less, depending on screen size */
  }

  /*background-color of the modal*/
  /* .fade{
background-color: rgba(255, 255, 255, 0.4);
  } */

  .form-SignUp{
      margin: auto;
      width: 85%;
  }

  /* Center Modal to screen */
  .modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
  }




/* ========================================================== PARTICLE JS CANVAS =========================================== */

canvas{
  position: absolute;
  top: 0px;
  z-index: 0;
  height: 100vh;
  width: 100vh;
}

.banner_item{
    z-index: 99;
}
/*   ==================================================== MEDIA SCREEN ================================================== */

/* ======================================== Large Screen ================================================ */
@media screen and (max-width: 1920px){
    .login_image{
        width: 80%;
        margin-top: 250px;
        margin-left: 20% !important;
    }
}

@media screen and (max-width: 1600px){
    .login_image{
        width: 90%;
        margin-top: 300px;
        margin-left: 15% !important;
    }
}

@media screen and (max-width: 1400px){
    .section_motto h2{
        color: #fff;
        position: absolute;
        top: 48%;
        font-size: 28px;
        font-weight: lighter;
        left: 33%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-top: 30px;
    }

}

@media screen and (max-width: 1366px){
    .login_image{
        width: 90%;
        margin-top: 350px;
        margin-left: 15% !important;

    }
}

@media screen and (max-height: 768px){
    .login_image{
        margin-top: 25%;
        margin-left: 15% !important;
    }
}


@media screen and (max-width: 1200px){
    .section_motto h2{
        color: #fff;
        position: absolute;
        top: 48%;
        font-size: 22px;
        font-weight: lighter;
        left: 20%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-top: 30px;
    }
    .login_image{
        width: 100%;
        margin-top: 350px;
        margin-left: 10% !important;
    }
}




/* ======================================== Meduim Screen ================================================ */

@media screen and (max-width: 1000px){
    .head_img {
        margin: 0;
        position: absolute;
        width: 80%;
        top: 47%;
        left: 50%;
        
    }
    
    .section_motto h2{
        color: #fff;
        position: absolute;
        top: 42%;
        font-size: 20px;
        font-weight: lighter;
        left: 30%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-top: 30px;
    }
}

@media screen and (max-width: 900px){
    .head_img {
        margin: 0;
        position: absolute;
        width: 360px;
        top: 47%;
        left: 50%;
        
    }
    .section_motto h2{
        width: 260px;
        color: #fff;
        position: absolute;
        top: 37%;
        font-size: 18px;
        font-weight: lighter;
        left: 30%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-top: 30px;
        
    }
    
}

/* ====================================== Small Screen ======================================= */

@media screen and (max-width: 767px){
    .section_motto h2{
        width: auto;
        color: #fff;
        position: absolute;
        top: 42%;
        font-size: 28px;
        font-weight: lighter;
        left: 15%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-top: 30px;
    }

    .center{
        margin: 0;
        position: absolute;
        top: 20%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    .login_image{
        display: none;
    }

    .login_logo_top{
        display: none;
    }

    .head_img{
        display: block;
    }
}

@media screen and (max-width: 700px){
    .section_motto h2{
        width: auto;
        color: #fff;
        position: absolute;
        top: 42%;
        font-size: 28px;
        font-weight: lighter;
        left: 10%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-top: 30px;
    }
}

@media screen and (max-width: 600px){
    .section_motto h2{
        width: auto;
        color: #fff;
        position: absolute;
        top: 42%;
        font-size: 24px;
        font-weight: lighter;
        left: 10%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-top: 30px;
    }

}

@media screen and (max-width: 540px){
    .section_motto h2{
        display: none;
    }

    .center{
        margin: 0;
        position: absolute;
        top: 20%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 500px){
    .section_motto h2{
        width: auto;
        color: #fff;
        position: absolute;
        top: 42%;
        font-size: 20px;
        font-weight: lighter;
        left: 5%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-top: 30px;
    }

    .otp_input_container{
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
    }
    
    .otp_input{
        width: 45px;
        height: 45px;
        margin: 0px;
        border-radius: 8px;
        border: 1px solid rgb(87, 87, 87);
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .otp_input[type=text]{
        color: #0769e5;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        height:45px;
    }

    .form_verification_box{
        padding: 30px;
    }

    .name_container{
        padding: 0px 13.5px;
    }

    .reg_input{
        padding-bottom: 0px !important;
    }

    hr{
        margin: 10px;
    }
}

@media screen and (max-width: 370px){
    .form_box{
        width: 320px;
    }

    .abcRioButton,.abcRioButtonLightBlue, .abcRioButtonContentWrapper{
        width: 280px !important;
    }
}

@media screen and (max-width: 376px){

    .head_img {
        margin: 0;
        position: absolute;
        width: 300px;
        top: 35%;
        left: 50%;
        
    }

    .form_box{
        width: 300px;
    }

    .abcRioButton,.abcRioButtonLightBlue, .abcRioButtonContentWrapper{
        width: 265px !important;
    }
}

@media screen and (max-width: 1366px) and (max-height: 768px){
    .form_verification_box{
        padding: 15px 10px 10px 10px ;
    }
    .name_container{
        padding: 0px 12px 5px 12px !important;
        margin-left:auto;
        margin-right: auto;
    }
    .reg_input input{
        padding-bottom: 10px !important;
        padding-top: 10px !important;
        margin-top: 10px !important;
    }
    .login_logo_top{
        display:none;
    }

}


