* {
	box-sizing: border-box;
	font-family: 'Lato',sans-serif;
  }
  html,body{
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	height: 100% !important;
	width: 100% !important;
	font-size: 15px;
  }
  
/*   header{
	z-index: 1;
	position: fixed;
	background: #B4c7e7;
	padding: 10px;
	width: 100%;
	top: 0;
	height: 50px;
	margin: 0;
  } */
  
  /* .sidebar{
	z-index: 1;
	top: 0;
	background: #001955;
	padding-top: 0px;
	position: fixed;
	left: 0;
	width: 250px;
	height: 100%;
	transition: 500ms;
	transition-property: left;  
	overflow: auto;
  } */
  
  .profile_info{
	display: flex;
	justify-content: start;
	align-items: center;
	border-top: solid 1px #007BFF;
	border-bottom: solid 1px #007BFF;
  }
  
  /* .sidebar .profile_info .profile_image{
	width: 50px;
	height: 50px;
	border-radius: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 30px;
	margin-right: 10px;
  } */
  .profright h4{
	margin: 0;
  }
  .profright h5{
	color: #007BFF;
	font-size: 9pt;
  }
  .btntopup {
	margin-right: 40px!important;
	text-decoration-line: none !important;
  }
  .creditslabel {
	margin-right: 20px;
  }
  /* .sidebar .profile_info h4{
	color: #ccc;
	font-size: 10pt;
  } */
  
  /* .sidebar a{
	color: #fff;
	display: block;
	line-height: 40px;
	text-decoration: none;
	padding-left: 40px;
	box-sizing: border-box;
	transition: 500ms;
	transition-property: background;
	font-size: .9em;
  } */
  
  /* .sidebar a:hover{
	background: #007BFF;
  }
  .sidebar>.active {
	background: #007BFF;
  }
  
  .sidebar i{
	padding-right: 10px;
  }
  
  label #sidebar_btn{
	z-index: 1;
	color: #fff;
	position: fixed;
	cursor: pointer;
	left: 40px;
	font-size: 20px;
	margin: 0px 0;
	transition: 500ms;
	transition-property: color;
	width: 150px;
	height: 30px;
  }
  
  label #sidebar_btn:hover{
	color: #007BFF;
  }
  
  #check:checked ~ .sidebar{
	left: -500px;
  }
  
  #check:checked ~ .sidebar a span{
	display: none;
  }
  
  #check:checked ~ .sidebar a{
	font-size: 20px;
	margin-left: 165px;
	
  } */
  
  /* .content{
	width:auto;
	height: 100%;
	margin-top: 50px;
	padding: 10px;
	margin-left: 250px;
	transition: margin-left 500ms;
  }
  
  #check:checked ~ .content{
	margin-left: -60px;
  } */
  
  /* #check:checked ~ .sidebar .profile_info{
	display: none;
  } */
  
  #check{
	display: none;
  }
					   
  
  .headerbtn {
	display: flex;
	justify-content: space-between;
	margin-left: 250px;
	margin-top: 5px;
  }
  
  /* .btn {
	  color: white;
	  background-color: #4CAF50;
	  padding: .75rem 1.5rem;
	  border-radius: .5rem;
	  text-decoration: none;
	  font-size: .7rem;
	  outline: none;
	  border: none;
	  cursor: pointer;
	  margin: 10px;
  } */
  .ti-plus{
	  background-color: #4CAF50;
	  color: #fff;
	  padding: .75rem 1.5rem;
	  border-radius: .5rem;
	  text-decoration: none;
	  font-size: 10px;
	  outline: none;
	  border: none;
	  cursor: pointer;
	  margin: 10px;
	  
  }
  
  .ti-plus:hover{
	  background-color:#56d45a;
  }
  .creditslabel {
	font-weight: bold;
	font-size: 1rem;
  }
  
  .last7d {
	  border-bottom: solid 1px #c9c9c3;
	  color: #757574;
	  margin-left:15px;
  }
  .last7d h5 {
	  padding: 5px;
  }
  .head_totals_sec {
	  width: 100%;
	  height: 220px;
	  display: flex;
  }
  .header_logo {
  
	  margin: 10px;
	  text-align:center;
  }
  
  .subSec1 {
	  width: 150px;
	  height: 150px;
	  border-radius: 100px;
	  margin-top: 10px;
	  margin-bottom: 10px;
	  margin-left: 30px;
	  margin-right: 10px;
	  border: solid 6px #c9c9c3;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
  }
  .subSec1 > .deliver_count_head {
	  font-weight: bold;
	  font-size: 20pt;
  }
  .subSec1 > .deliver_label_head {
	  font-weight: bold;
	  font-size: 10pt;
  }
  .subSec1 > .deliver_percent_head {
	  font-weight: bold;
	  font-size: 12pt;
	  color: #4CAF50;
  }
  
  .subsec2 {
	  width: 150px;
	  margin-left: 30px;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
  }
  .subsec2 .total_sent_count {
	  font-weight: bold;
	  font-size: 15pt;
  }
  .subsec2 .total_sent_label {
	  font-size: 10pt;
  }
  .mainsec2 {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
  }
  .pad10 {
	  padding: 5px;
  }
  .font-bold {
	  font-weight: bold;
  }
  .font-15 {
	  font-size: 15pt;
  }
  .font-13 {
	  font-size: 13pt;
  }
  .font-12 {
	  font-size: 12pt;
  }
  .font-11 {
	  font-size: 11pt;
  }
  .font-10 {
	  font-size: 10pt;
  }
  .font-9 {
	  font-size: 9pt;
  }
  .font-8 {
	  font-size: 8pt;
  }
  .font-7 {
	  font-size: 7pt;
  }
  
  .dashboard_messages span{
	  color: var(--text-grey);
	  text-align: left;
  }
  .dashboard_messages_header {
	  width: 99%;
	  margin: 1px;
	  font-size: 1rem;
	  font-weight: bold;
	  background-color: #4CAF58;
	  color: white;
  }
  
  .activity-card{
	  background: rgb(110, 110, 110);
	  border-radius: 7px;
  }
  
  .activity-card table{
	  width: 100%;
	  border-collapse:collapse;
  }
  
  .activity-card thead{
	  background: #fff;
	  text-align: left;
  }

  tr:hover {
	  color:#007BFF;
	  transition: 300ms;
	  cursor: pointer;
  }
  
  .recent{
	  margin-top: .1rem;
	  margin-bottom: 3rem;
	  width: 100%;
	  height: 400px;
	  border-radius: 7px;
	  overflow-y: auto;
  }

  .campaign{
	margin-top: .1rem;
	margin-bottom: 3rem;
	width: 100%;
	height: 550px;
	overflow-y: auto;
  }
  h3{
	  margin-left: 20px;
  }
  /* .message_list:hover{
	  background-color: #aed1fa;
	  transition: 300ms;
  } */
  /* .message_list {
	  margin-left:0%;
	  display: flex;
	  height: 28%;
	  margin: 1px auto; 
	  justify-content: space-around;
	  align-items: center;
	  background: #fff;
  } */

  .message_campaign {
	margin-left:0%;
	display: flex;
	height: 20%;
	margin: 1px auto; 
	justify-content: space-around;
	align-items: center;
	background: #fff;
	overflow-y: auto;
}
  .first_col {
	  display: flex;
	  flex-direction: column;
	  width: 250px;
  }
  .first_col span {
	  margin: 5px;
  }
  
  .fourth_col {
	  color: #4CAF50;
  }
  .pie_col .chart{
	  position: relative;
	  margin: 0 auto;
	  text-align: center;
	  width: 80px;
	  font-size: 12px;
	  line-height: 80px;
  }
  .pie_col .bchart{
	  position: relative;
	  margin: 0 auto;
	  text-align: center;
	  width: 80px;
	  font-size: 12px;
	  line-height: 80px;
  }
  .pie_col canvas{
	  position: absolute;
	  top: 0;
	  left: 0;
  }
  .pie_col {
	  text-align: center;
  }
  
  .pie_col span{
	  font-size: 12px;
	  color: #64645e;
  }
  
  .messages_title{
	  padding: .5rem 1rem;
	  display: flex;
	  
	  color: #102282;
	  margin-left:15px;
	  margin-bottom: 10px;
  }
  
  .messages_title span{
	  font-size: 1.5rem;
	  color: #777;
	  padding-right: 1rem;
	  align-items: left;
  }
  .messages_title h3 {
	  margin: 0px;
  }
  
  .message_list_main {
	  width: 100%;
	  border: solid 1px #c9c9c3;
	  overflow-y: auto;
	  background-color: white;
  }
  .mainlist_backgroun{
	height: 500px;
	border: solid 1px #c9c9c3;
	overflow-y: auto;
  }

  /* .message_list_main_header {
	  overflow-y: auto;
	  background-color: white;
	  height: 50px;
	  display: flex;
	  align-items: center;
  }
  .message_list_main_header input {
	  outline: 0;
	  border-width: 0 0 1px;
	  border-color: #c9c9c3;
	  margin-left: 2px;
	  padding: 5px;
	  width: 320px;
  }
  .message_list_main_header_right {
	  margin-right: 1rem;
	  display: flex;
  } */
  
  /* .message_list_main_header_right a {
	  margin-top: .5rem;
	  font-size: 1rem;
	  text-decoration: none;
	  color: #777;
	  margin-right: .5rem;
  } */
  
  /* .message_list_main_header_right input{
	  width: 200px;
  } */
  
  .combo_box select{
	  margin-top: .3rem;
	  border-style: none;
	  margin-left: 2px;
	  padding: 5px;
	  background-color: #F2F2F2;
	  outline: none;
  }
  
  .filter_by select{
	  margin-top: .3rem;
	  border-style: none;
	  margin-left: 2px;
	  margin-left: .5rem;
	  padding: 5px;
	  background-color: #F2F2F2;
	  outline: none;
  }
  
  /* .message_list_main_header_left{
	  width: 100%;
	  color: #fff;
  } */
  
  .create_message_div {
	  width: 100%;
	  height: 650px;
	  border: solid 1px #c9c9c3;
	  overflow-y: auto;
	  background-color: white;
	  margin: 0px auto;	
  }
  
  .create_message_header {
	  height: 50px;
	  border-bottom: solid 1px #c9c9c3;
	  display: flex;
	  align-items: center;
  }
  .create_message_header span {
	  margin: 10px auto;
  }
  .main_message_form {
	  margin-left: 1rem;
	  display: flex;
	  flex-direction: column;
  }
  .main_message_form .msm_input {
	  width: 100%;
	  padding: 5px;
	  margin : 10px;
	  outline: 0;
	  border-width: 0 0 1px;
	  border-color: #c9c9c3;
	  width: 201px!important;	
  }

  .main_message_form textarea {
	  width: 100%;
	  padding: 5px;
	  margin : 10px;
	  border-color: #c9c9c3;
  }
  .main_message_form .msg_span {
	  margin : 5px 5px 5px 10px;
	  font-size: 12px;
  }
  .main_message_form .msg_label {
	  margin : 4px 4px 4px 10px;
	  font-size: 14px;
	  font-weight: bold;
  }

  .message_body {
	  height: 200px !important;
	  margin-bottom: 10px;
	  resize: none;
  }

  .display_col{
	  width: 95%;
	  display: flex;
	  flex-direction: column;
  }

  .display_end_button {
	  width: 95%;
	  display: flex;
	  justify-content: flex-end;
  }
  
  .switch {
	position: relative;
	display: inline-block;
	width: 46px;
	height: 17px;
	margin: 5px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 14px;
	width: 14px;
	left: 3px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
  .date_text {
	  width: 250px;
	  font-size: 12px;
	  padding: 6px 12px;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	  background-color: #f2f1f1;
  }
  
  #checker_slide:checked ~ #date_text{
	  visibility: visible;
  }
  
  .error_validator {
	  border-bottom: 1px solid red!important;
  }
  .reload_rcpt {
	  padding: 10px 2px;
	  font-size: 12px;
  }
  .btnUploadRcpt{
	  display: flex;
	  padding: 1rem 2rem;
	  margin-bottom: -.3rem;
  }
  
  .btnUploadRcpt .choose_file
  {
	  width: 8rem;
	  border-radius: .5rem;
	  border:solid #64645e;
	  padding: .1rem;
  }
  
  
  .msg_anchor {
	  cursor: pointer;
	  font-size: .7rem;
	  color: #007BFF;
	  margin-left: 510px;
  }
  .row_template {
	  margin: 10px auto;
	  padding: 10px 30px;
	  border-bottom: solid 1px #c9c9c3;
	  color: #717171;
  }
  
  .download-btn button{
	  background-color:#4CAF50;
	  border: none;
	  outline: none;
	  color: white;
	  margin-left: .5rem;
	  border-radius: .5rem;
	  text-decoration: none;
	  font-size: .7rem;
	  padding: .75rem 1.5rem;
	  font-size: .7rem;
  }
  
  .download-btn button:hover{
	  background-color:#56d45a;
  }
  
  .contact-body{
	  background-color: #fff;
	  padding: 16px 6px;
	  display:flex;
  }
  
  .profile-img{
	  margin-left: .1rem;
	  margin-top: 3rem;
	  display:flex;
  }
  
  .contact_info label{
	  margin-left: 5rem;
	  margin-top: 3rem;
	  margin-bottom: .5rem;
	  display: flex;
  }
  
  .contact_info input{
	  margin-left: 5rem;
	  margin-top: 1rem;
	  border-right:none;
	  border-top:none;
	  border-left:none;
	  border-bottom: 1px solid #e0e0e0;
	  outline: none;
	  border-radius: 0px;
	  font-size: 1rem;
	  font-weight: lighter;
	  display: flex;
  }
  
  .contact_info select{
	  margin-left: 5rem;
	  margin-top: 1rem;
	  border-right:none;
	  border-top:none;
	  border-left:none;
	  border-bottom: 1px solid #e0e0e0;
	  outline: none;
	  border-radius: 0px;
	  font-size: 1rem;
	  font-weight: lighter;
	  display: flex;
  }
  
  .name-info input, .Mobile_Number input{
	  width: 30rem;
  }
  
  .gender label, .basic-info label{
	  margin-top:2rem;
	  display: flex;
  }
  
  .table-contact{
  margin-top:1rem;
  padding-top: Auto;
  width: 100%;
  background-color: #fff;

  height: 500px;
  border: solid 1px #c9c9c3;
  overflow-y: auto;
  }

  .edit-contact{
	margin-top:1rem;
	padding-top: Auto;
	width: 100%;
	background-color: #fff;
  
	height: 500px;
	overflow-y: auto;
  }

  .bg-color{
	  border: solid 1px;
	  background-color: #4CAF50;
	  color: #fff;
}

  .collapse{
	  margin-left: 1rem;
	  margin-right: 1rem;
	  width: 96%;
	  overflow-y: auto;
	  border-collapse: collapse;
  }

.ti_pencil{
	color: #F7A000;
	outline: none;
	font-size: 15px;
}

.ti_delete{
	color: red;
	outline: none;
	font-size: 15px;
}
  
  .groups{
	  width: 100%;
	  margin-left: 1rem;
	  color: #64645e;
  }
  
  .group-by ,input{
	  margin-right: .5rem;
	  
  }
  .group-by .group-input{
	  width: 90%;
  }
  
  .manage-groups button{
	  height: 1cm;
	  margin-right: 1rem;
	  width: 3cm;
	  background-color:#2196F3;
	  border: none;
	  outline: none;
	  color: white;
	  margin-left: 0.01rem;
	  border-radius: .5rem;
	  font-size: .7rem;
	  font-size: .7rem;
  }
  
  .manage-groups button:hover{
	  background-color:#4fa0fc;
  }
  
  .select-template{
	  margin-left: 10rem;
	  display: flex;
	  justify-content: flex-end;
	  margin-right: -.5rem;
  }

  .select-group{
	margin-left: .6rem;
	margin-bottom: 1rem;
	display: flex;
}

.group_button{
	display: flex;
}

.btn-danger{
	margin-left: .5rem;
	margin-top: .5rem;
}
  
  .select-box{
	  width: 250px;
	  position: relative;
  }

  .group-box{
	width: 200px;
	position: relative;
}

.group-box select{
	text-align: center;
	height: 30px;
	padding: 0px 0px 0px 5px;
	line-height: 15px;
	font-size:12px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 8px;
	-webkit-appearance: none;
	appearance: none;
}

.group-box:after{
	content: "";
	position: absolute;
	right: 8px;
	top: 50%;
	margin-top: -4px;
	border-top: 8px solid #4CAF50;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	pointer-events: none;
}
  
  .select-box select{
	  height: 39px;
	  padding: 10px 15px;
	  line-height: 15px;
	  font-size:16px;
	  width: 100%;
	  border: 1px solid #ccc;
	  border-radius: 8px;
	  -webkit-appearance: none;
	  appearance: none;
  }
  .select-box:after{
	  content: "";
	  position: absolute;
	  right: 8px;
	  top: 50%;
	  margin-top: -4px;
	  border-top: 8px solid #4CAF50;
	  border-left: 6px solid transparent;
	  border-right: 6px solid transparent;
	  pointer-events: none;
  }
  
  
  .select-sex{
	  width: 230px;
	  position: relative;
  }
  .select-sex:after{
	  content: "";
	  position: absolute;
	  right:0;
	  top: 50%;
	  margin-top: -4px;
	  border-top: 8px solid #4CAF50;
	  border-left: 6px solid transparent;
	  border-right: 6px solid transparent;
	  pointer-events: none;
  }
  .select-sex select{
	  height: 39px;
	  padding: 10px 15px;
	  line-height: 15px;
	  font-size:16px;
	  width: 70%;
	  border: 1px solid #ccc;
	  border-radius: 8px;
	  -webkit-appearance: none;
	  appearance: none;
  }
  
  .uploadbtn .fa{
	color: rgb(14, 13, 13);
  }

  .uploadbtn{
	  color: #fff;
	  background-color: #2196F3;
	  padding: .80rem 1rem;
	  border-radius: .5rem;
	  text-decoration: none;
	  font-size: 11px;
	  outline: solid;
	  font-weight: bold;
	  border: none;
	  cursor: pointer;
	  margin: 12px;
  }

  .uploadbtn input{
	border: none;
	outline: none;
	background-color: #2196F3;
  }
  .btn-upload{
	  color: #fff;
	  padding: .4rem .1rem;
	  text-align: center;
  }

  .hideForm{
	  display: none;
  }

  .btnUploadRcpt .choosefile{
	width: 60%;
	outline: 0;
	border-width: 0 0 1px;
	border-color: #c9c9c3;
	margin-right: -3rem;
  }

  .import_body{
	  background-color: #fff;
	  padding: 2rem;
	  border-width: .2rem;
  }

  .coud_upload{
	  text-align: center;
  }
 .coud-up{
	font-size: 180px;
  }

  .coud_upload h2{
	  margin-top: -1rem;
	  margin-bottom: 1rem;
  }

  .coud_upload p{
	margin-bottom:3rem;
}

.donwloadFile i{
	color: blue;
}

.display_single a{
	margin-top: 1.3rem;
	display: flex;
	margin-left: -0.3rem;
}
.display_single{
	margin-top :.1rem;
	display: flex;
}

.reload{
	margin-left: -0.3rem;
	margin-top :1.2rem;
}
.display_label{
	margin-top: 1rem;
	margin-bottom: -.5rem;
}

.single_recipients{
	margin-top: 2rem;
	margin-bottom: -.5rem;
}
.recipients{
	margin-top: 1rem;
}


.background{
	margin-top:.05rem;
	border: none;
	height: 350px;
}

.background .recent{
	margin-top: -1.1rem;
}

.display_Contacts{
	background-size: 1256rem;
	margin-top:.5rem;
	margin-left: 1rem;
	border-radius: 8px;
}

.span_color{
	color: #fff;
	background-color: #2196F3;
	border-radius: 8px;
}

/*///////////////////////         WIDGETS HERE            ///////////////////////////////*/
.widget {
	display:inline-block; 
	padding: 3px 3px 3px 18px; 
	font-size: 15px;
	color:white;
	border-radius: 2px;
	margin-top: .5rem;
	margin-left: 1rem;
	background: skyblue;
}
.widget-button {
	display: inline-block; 
	font-size: 15px;
	text-align: center;
	padding:4px;
	margin-left:0.5rem;
	cursor: pointer;
}
.widget_modal {
	display:inline-block; 
	padding: 3px 3px 3px 18px; 
	font-size: 15px;
	color:white;
	border-radius: 2px;
	margin-top: .5rem;
	margin-left: 1rem;
	background: skyblue;
}
/*///////////////////////         WIDGETS HERE            ///////////////////////////////*/

/* #sidebar-toggle{
	display: none;
	}
	
	#sidebar-toggle:checked ~ .sidebar{
		width: auto;
	
	}
	
	#sidebar-toggle:checked ~ .sidebar img,
	#sidebar-toggle:checked ~ .sidebar .profile_info,
	#sidebar-toggle:checked ~ .sidebar .side{
		display: none;
		text-align: center;
	}
	
	#sidebar-toggle:checked ~ .sidebar .ti-dashboard,
	#sidebar-toggle:checked ~ .sidebar .ti-email,
	#sidebar-toggle:checked ~ .sidebar .ti-notepad,
	#sidebar-toggle:checked ~ .sidebar .ti-id-badge,
	#sidebar-toggle:checked ~ .sidebar .ti-user,
	#sidebar-toggle:checked ~ .sidebar .ti-wallet,
	#sidebar-toggle:checked ~ .sidebar .ti-settings,
	#sidebar-toggle:checked ~ .sidebar .ti-support,
	#sidebar-toggle:checked ~ .sidebar .ti-close{
		margin-left: -120%;
		margin-right: -.5rem;
		text-align: left;
	}

	
	.sidebar{
		height: 100%;
		width: 240px;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 100;
		color: #fff;
		overflow-y: auto;
		transition: 500ms;
	} */
	
	.header_logo, .ti-menu-alt{
		margin-top: 1rem;
		margin-left: 2rem;
		display: flex;
	}
	
	/* #sidebar-toggle:checked ~ .sidebar .ti-menu-alt{
		margin-left: -85%;
		margin-top: 0;
	}
	
	#sidebar-toggle:checked ~ .sidebar .content{
		margin-left: 6px;
	} */

	.ti{
		margin-right: .5rem;
	}

	.credit_body{
		padding: .5rem;
		background-color: #fff;
		height: 100%;
	}

	.top_up_credit{
		display: flex;
	}

	.top_up_credit .top_up_btn{
		padding: 5px;
		background-color: #2196F3;
		color:#fff;
		font-size: 12px;
		border-radius: 5px;
		outline: none;
		border: none;
	}

	.top_up_btn{
		width: 80px;
	}

	.top_up_lbl{
		margin-top: 1rem;
		font-size: 8pt;
		margin-bottom: -1%;
	}

	.hr{
		margin-top: 1rem;
	}

	.card_body_header{
		color: #1a1a1a9c; 
		font-weight: bold; 
		font-size: 20px;
	}

#sidebar-overlay{
	width: 100%;
	z-index: 99 !important;
}

.btn_user_photo_edit{
	top: 90px;
}

#messagedata{
	word-break:break-all;
}


















































/* ================================================================ TITLE TEXT ============================================================ */


/* ============================================================= TOP NAV =============================================================== */
.layout-navbar-fixed .wrapper .main-header {
    background-color: transparent;
	padding: 0px;
	border-bottom: none;
}
.layout-navbar-fixed .wrapper .content-wrapper {
    background-color: transparent;
}

.nav-link p{
	color: rgb(235, 235, 235) !important;
}

.os-content{
	padding: 0px !important;
	border-radius: 0px !important;
}

.nav-pills .nav-link {
    color: rgb(235, 235, 235) !important;
}

#display-name{
	color: rgb(235, 235, 235) !important;
}

#display-name:hover{
	color: rgb(235, 235, 235) !important;
	text-decoration: none;
}

.nav-header{
	color: rgb(212, 212, 212);
	text-transform: uppercase;
	letter-spacing: 1.5px;
	padding: 7.5px 15px !important;
}

.nav-link:hover{
	background-color: #213148 !important;
	color:rgb(77, 184, 255) !important;
}

.nav-link.active{
	background-color: #213148 !important;
}
/* ============================================================= DOWNLOAD Buttons ========================================================== */
.buttons-copy{
	background-color: #28A745;
	color: #fff;
	border: none;
	padding: 6px 12px;
	border-radius: 5px;
	font-size: 15px;
}
.buttons-copy:hover{
	background-color: #28A745;
	transition: 0.4s;
}
.buttons-csv{
	background-color: #28A745;
	color: #fff;
	border: none;
	padding: 6px 12px;
	border-radius: 5px;
	font-size: 15px;
}
.buttons-csv:hover{
	background-color: #28A745;
	transition: 0.4s;
}

/* ============================================================== SIDEBAR =================================================== */
[class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-treeview {
    background-color: #171a1d !important;
	border-radius: 0px 0px 6px 6px;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:hover {
    background-color: #007bff;
    color: #fff;
}

/* ================================= PHONE (SCHEDULED CAMPAIGN) ============================================= */
.img-container{
	height:100%;
	max-width: 350px;
	background-image: url('../images/phone1.png');
	background-size:contain;
	background-repeat: no-repeat;
}

.circle_message{
	width: 40px;
	height: 40px;
	position: absolute;
	display: block;
	top: 22%;
	left: 65px;
	border-radius:100%;
	background-color: rgb(240, 238, 238);
}

.phone_message{
	position: absolute;
	display: block;
	height:auto;
	width: 200px;
	background-color: rgb(240, 238, 238);
	top: 22%;
	left: 120px;
	padding: 15px;
	border-radius: 10px;
	font-size: 14px;
}

.phone_nav_text{
	align-self: center;
	width: 320px;
	position:absolute;
	font-size: 13px;
	top: 110px;
	z-index: 20;
	color:#17a2b8;
}

@media screen and (max-width: 767px) {
	.img-container{
		display: none;
	}
}

@media screen and (max-width: 797px) {
	.senderid_phone_text{
		top: 30.8%;
	}
}

@media screen and (max-width: 992px) {
	.circle_message{
		top: 50%;
		left: 15%;
	}
	
	.phone_message{
		top: 50%;
		left: 30%;
		font-size: 12px;
	}

	.senderid_phone_text{
		top: 40.8%;
	}

	
}
@media screen and (max-width: 1025px) {
	.phone_nav_text {
		top: 10.8% !important;
		font-size: 12px;
	}

	.phone_message{
		top: 12%;
		left: 33%;
		font-size: 70%;
		width: 45%;
	}

	.circle_message{
		top: 12%;
	}
}

@media screen and (max-width: 1200px){
	.circle_message{
		top: 120px !important;
		left: 60px !important;
	}
	
	.phone_message{
		top: 120px !important;
		left: 110px !important;
	}

	.phone_nav_text{
		top: 85px !important;
		width: 240px !important;
	}
}

@media screen and (max-width: 1300px) {
	.circle_message{
		top: 140px;
		left: 60px;
	}
	
	.phone_message{
		top: 140px;
		left: 120px;
		font-size: 70%;
		width: 45%;
	}
	.phone_nav_text {
		top: 95px;
		width: 270px;
	}
}

/* ================================= PHONE (CAMPAIGN BUILDER) ============================================= */
.quick-img-container{
	height:100%;
	max-width: 350px;
	background-image: url('../images/phone1.png');
	background-size:contain;
	background-repeat: no-repeat;
}

.quick-circle_message{
	width: 40px;
	height: 40px;
	position: absolute;
	display: block;
	top: 22%;
	left: 65px;
	border-radius:100%;
	background-color: rgb(240, 238, 238);
}

.quick-phone_message{
	position: absolute;
	display: block;
	height:auto;
	width: 200px;
	background-color: rgb(240, 238, 238);
	top: 22%;
	left: 120px;
	padding: 15px;
	border-radius: 10px;
	font-size: 14px;
}

.quick_phone_nav_text{
	align-self: center;
	width: 340px;
	position:absolute;
	font-size: 13px;
	top: 120px;
	z-index: 20;
	color:#17a2b8;
}

@media screen and (max-width: 767px) {
	.quick-img-container{
		display: none;
	}
}

@media screen and (max-width: 797px) {
	.quick_phone_nav_text{
		top: 30.8%;
	}
}

@media screen and (max-width: 860px) {
	.quick-circle_message{
		top: 50%;
		left: 15%;
	}
	
	.quick-phone_message{
		top: 50%;
		left: 30%;
		font-size: 12px;
	}

	.quick_phone_nav_text{
		top: 8.8% !important;
	}

	
}
@media screen and (max-width: 1025px) {

	.quick_phone_nav_text{
		top: 10.8% !important;
		font-size: 12px;
	}

	.quick-phone_message{
		top: 12%;
		left: 33%;
		font-size: 70%;
		width: 45%;
	}

	.quick-circle_message{
		top: 12%;
	}
}

@media screen and (max-width: 1200px){
	.quick-circle_message{
		top: 120px !important;
		left: 60px !important;
	}
	
	.quick-phone_message{
		top: 120px !important;
		left: 110px !important;
	}

	.quick_phone_nav_text{
		top: 85px !important;
		width: 240px !important;
	}
}
@media screen and (max-width: 1300px){
	.quick-circle_message{
		top: 140px;
		left: 60px;
	}
	
	.quick-phone_message{
		top: 140px;
		left: 120px;
		font-size: 70%;
		width: 45%;
	}

	.quick_phone_nav_text{
		top: 95px;
		width: 270px;
	}
}

/* ================================= PHONE (QUICK SMS) ============================================= */
.img-container_quick_sms{
	height:100%;
	max-width: 350px;
	background-image: url('../images/phone1.png');
	background-size:contain;
	background-repeat: no-repeat;
}

.image_phone_circle{
	width: 30px;
	height: 30px;
	position: absolute;
	display: block;
	border-radius:100%;
	background-color: rgb(240, 238, 238);
	transform: translate(45%, 80px)
}

.phone_message_quick_sms{
	position: absolute;
	display: block;
	height:auto;
	background-color: rgb(240, 238, 238);
	padding: 10px;
	border-radius: 10px;
	font-size: 14px;
	transform: translate(50px, 80px);
	font-size: 70%;
    width: 115px !important;
}

.phone_nav_text_quick_sms{
	align-self: center;
	width: 190px !important;
	position:absolute;
	font-size: 13px;
	top: 14%;
	z-index: 20;
	color:#17a2b8;
}

@media screen and (max-width: 767px) {
	.container_quick_sms{
		display: none;
	}
}
@media screen and (max-width: 860px) {
	.phone_message_quick_sms{
		left: 30%;
		font-size: 12px;
	}
}
@media screen and (max-width: 906px) {
	.phone_message_quick_sms{
		top: 5px;
	}
	.image_phone_circle{
		top: 5px;
	}
}
@media screen and (max-width: 1010px) {

	.phone_nav_text_quick_sms{
		font-size: 12px;
		width: 200px !important;
	}

	.phone_message_quick_sms{
		width: 100px !important;
	}
	
}

@media screen and (max-width: 1046px) {

	.phone_nav_text_quick_sms{
		font-size: 12px;
	}

	.phone_message_quick_sms{
		left: 33%;
		font-size: 70%;
		width: 45%;
	}
}

@media screen and (max-width: 1125px){
	.image_phone_circle{
		left: 20px;
	}
	
	.phone_message_quick_sms{
		left: 20px;
		width: 120px !important;
	}

	.phone_nav_text_quick_sms{
		width: 200px !important;
	}


}



/* ================================================================= CARD ================================================= */

.card-header-label{
	font-size: 25px;
}

/* ----------------------  BASIC CATEGORY  ------------------------------ */
.bg-basic{
	background-image: linear-gradient( rgb(113, 212, 116), rgb(73, 221, 76)) !important;
	/* background-image: linear-gradient(rgb(142, 231, 143), rgb(124, 230, 126)) !important; */
	/* background-color: rgb(124, 230, 126) !important; */
	color:rgb(255, 253, 253) !important;
}


/* ----------------------  ENTERPRISE CATEGORY  ------------------------------ */
.bg-enterprise{
	background-image: linear-gradient( rgb(196, 92, 92), rgb(192, 54, 54)) !important;
	color:rgb(255, 253, 253) !important;
}

/* ----------------------  SALES PARTNER CATEGORY  ------------------------------ */
.bg-sales_partner{
	background-image: linear-gradient( rgb(140, 86, 182), rgb(127, 50, 185)) !important;
	color:rgb(255, 253, 253) !important;
}



/* ========================================= GROUPS CARD ========================================= */
.card_group_id{
	font-size: 14px;
	color:#4fa0fc;
}

.card_group_name{
	font-weight: 600;
	width: 100%;
	font-size: 15px;
	padding-bottom: 1px;
	margin-bottom: 0px;
	border-bottom: 1px solid rgb(216, 216, 216);
	color: rgb(105, 105, 105);
}

.card_group_member{
	font-size: 14px;
	color:#4fa0fc;
	margin-bottom: 0px;
	padding-bottom: 1px;
	margin-top: 14px;
}

.card_group_total{
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 0px;
	color:rgb(105, 105, 105);
}

/* ============================================================ CARD OUTLINE ===================================================== */
.card-violet{
	border-top: 3px solid rgb(58,25,83);
}





/* ==============================================================  SIDEBAR ================================================= */

/* ----------------------  ENTERPRISE CATEGORY  ------------------------------ */
.sidebar-enterprise{
	background-color: rgb(126,0,0);
	color:rgb(255, 253, 253) !important;
}

.sidebar-enterprise a {
    color: #e7e7e7;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-enterprise a:hover {
    color: rgb(247, 171, 121);
    text-decoration: none;
    background-color: transparent;
}

.sidebar-enterprise li a p, .sidebar-enterprise li a i{
	color: #e7e7e7;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-enterprise li:hover{
	background-color: rgba(122, 51, 51, 0.7) !important;
	color: rgb(255, 240, 190);
    text-decoration: none;
    background-color: transparent;
}

.sidebar-enterprise li .active{
	background-color: rgb(185, 36, 10) !important;
}



/* ----------------------  BASIC CATEGORY  ------------------------------ */

.sidebar-basic{
	background-color: rgb(19,81,20);
	color:rgb(255, 255, 255) !important;
}

.sidebar-basic .user-panel{
	border-top: 1px solid rgb(32, 100, 32);
	border-bottom: 1px solid rgb(32, 100, 32);
}

.sidebar-basic a {
    color: #e7e7e7;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-basic a:hover {
    color: rgb(137, 255, 139);
    text-decoration: none;
    background-color: transparent;
}

.sidebar-basic li a p, .sidebar-basic li a i{
	color: #e7e7e7;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-basic li:hover{
	background-color: rgba(73, 114, 50, 0.5) !important;
	color: rgb(231, 241, 136);
    text-decoration: none;
    background-color: transparent;
}

.sidebar-basic li .active{
	background-color: rgb(73, 141, 34) !important;
}


/* ----------------------  SALES PARTNER CATEGORY  ------------------------------ */

.sidebar-sales-partner{
	background-color: rgb(58,25,83);
	color:rgb(255, 253, 253) !important;
}

.sidebar-sales-partner a {
    color: #e7e7e7;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-sales-partner a:hover {
    color: rgb(202, 133, 255);
    text-decoration: none;
    background-color: transparent;
}

.sidebar-sales-partner li a p, .sidebar-sales-partner li a i{
	color: #e7e7e7;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-sales-partner li:hover{
	background-color: rgba(80, 50, 104, 0.7) !important;
	color: rgb(231, 241, 136);
    text-decoration: none;
    background-color: transparent;
}

.sidebar-sales-partner li .active{
	background-color: rgb(112, 49, 160) !important;
}

/* 	===================================== ICONS ====================================================================== */
.ion-card{
	font-size: 65px !important;
}

.ion-android-share{
	font-size: 65px !important;
}

.ion-ios-telephone{
	font-size: 65px !important;
}

.ion-android-people{
	font-size: 75px !important;
}

.ion-ios-email{
	font-size: 65px !important;
}

.ion-android-person-add{
	font-size: 75px !important;
	margin-top: -10px;
}




.test {
	background-color: #e0ffed;
	color: #ffd3d3;
	color: #1a1a1a9c;
}


/* ========================================================== Message elements ======================================================== */

.message_counter{
	margin: auto 10px;
}

/* ======================================================= table =========================================================== */
table { 
	width: 100%; 
	border-collapse: collapse; 
  }
  
  th:not(.bootstrap-datetimepicker-widget th){ 
	color: #1a1a1a9c; 
	font-weight: bold; 
	font-size: 20px;
	margin-bottom: 20px !important;
  }
  td, th { 
	padding: 6px; 
	text-align: left; 
  }

  .bootstrap-datetimepicker-widget th{
	padding: 2px !important; 
  }
  .bootstrap-datetimepicker-widget td{
	padding: 2px !important; 
  }

  th{
	  color: rgb(15, 15, 15) !important;
	  font-size: 18px !important;
  }

  td{
	color: #415368; 
	font-size: 15px;
  }

  thead{
	font-size: 20px !important;
  }


/* ==================================================== Buttons ====================================================== */
.back-button:hover{
	color: orange !important;
	transition: 0.5s;
}

.support_history{
	text-decoration: none !important;
}

.support_history:hover{
	color:#1bb6ce !important;
}
/* ======================================================= CHECKBOX =========================================================== */
/* .group-by, input {
    margin-right: 20px;
    margin-left: 20px;
} */

.agent_card:hover{
	 
	box-shadow: 1px 2px 7px 0px rgba(68,165,204,0.75);
	-webkit-box-shadow: 1px 2px 7px 0px rgba(68,165,204,0.75);
	-moz-box-shadow: 1px 2px 7px 0px rgba(68,165,204,0.75);
	transition: 0.3s;
}

#checkbox_err{
	color: red;
}


/* ======================================================= MEDIA SCREEN ============================================= */


/* ============ TOGGLE BUTTON IN SIDEBAR ================= */


@media screen and (min-width: 1010px){
	#sidebar_toggle_btn_container{
		display:none !important;
	}
	
	.navbar-white{
		background-color:transparent
	}

	.navbar-light{
		background-color:transparent;
	}

	.main-header{
		border-bottom: none;
	}

	.content-wrapper{
		margin-top: 25px !important;
	}
}



/* ========= DASHBOARD =========== */

@media only screen and (max-width: 450px){
	.btn-container{
		clear: both !important;
		display: block;
		width: 100%;
		margin-left: 25% ;
		text-align: center !important;
	}

	.search_data{
		clear: both !important;
		margin-top: 10px;
		max-width: 250px !important;
		margin-right: 5% ;
		display: block;
	}
}

/* @media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { 
		border: 1px solid #ccc;
		margin-bottom: 20px; 
	}
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		color: #5c5b5b;
		font-weight: bold;
		text-transform: capitalize;
	}

	.modal_head{
		margin-top: 15px;
		padding-bottom: 10px;
		color: #007BFF;
	}

} */

@media screen and (max-width: 406px){
	h5{
		margin-bottom: 0px !important;
	}
	
}

/* arrange buttons in contact.php */
@media screen and (max-width: 352px){
	.addContact{
		width: 100px !important;
		font-size: 13px !important;
		padding: 8px !important;
	}
	
	.importContact{
		width: 100px !important;
		font-size: 13px !important;
		padding: 8px 2px 8px 2px!important;
	}
}

@media screen and (max-width: 557px){
	.search_data:not(#addValue){
		display: none !important;
	}
}