html , body {
	margin: 0;
    background-image: url("../images/homepage.png");
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.contains {
    background-color: white;
    height: 100%;
    max-width:440px;
    border: 1px solid #999;
    position: relative;
    box-shadow: rgba(37, 37, 37, 0.8) 1px 1px 1px 1px;
    position: relative;
    box-sizing: border-box;
    margin-top: 1%;
    border-radius: 8px;
    padding: auto;
    margin-bottom: -3%;
    
}

.icon-container {
    position: relative;
    text-align: center;
}

.profile {
    position: absolute;
    left: 15%;
    top: 36%;
    height: 40%;
    display: inline-flex;
    
}

.Fix{
    position: relative;
    border-radius: 20px;
    height: 100%;
    color: rgb(10, 10, 10);

}

.Signup{
    position: relative;
    left: 1%;
    font-size: 25px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Signup small {
    position: relative;
    top: 10px;
    font-size: 15px;
}
.Signup p {
    position: relative;
    top: 29px;
    font-weight: 360;
    font-size: 30px;
}

.Date_part{
    height: 10vh;
    width: 100%;
    
}
.form {
    border-radius: 10px;
    border: 1px solid #999;
    
}

.btn {
	padding: 5px 30px;
	border-radius: 5px;
	background-color: #337aff;
	border: none;
	outline: none;
	font-size: 1em;
	font-weight: normal;
	margin-top: 5px;
	cursor: pointer;
}

.input-group{
    margin-left:7rem;
    color: #fff;
}


.bottom-btn{
    margin-top: 2rem;
}

label.error {
    font-size: 12px;
	color: red!important;
	margin-top:5px;
    margin-bottom: -.01rem;
	margin-left:10px;
}

#First {
    border-radius: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    outline:none;
    
}
#Last {
    border-radius: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
}
#emailadd{
    border-radius: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
}
#password {
    border-radius: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
}
#mNumber{
    border-radius: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
}


#fname{
    border-radius: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
}


#lname{
    border-radius: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
}







@media (max-width: 567px ) {

.contains {
    background-color: rgba(255, 255, 255, 0.918) 1px 1px 1px 1px;
    max-width: 330px;
    border: 1px solid #999;
    position: relative;
    box-shadow: rgba(37, 37, 37, 0.8) 1px 1px 1px 1px;
    box-sizing: border-box;
    margin-top: 10%;
    margin-left: 17%;
    border-radius: 8px;
    right: 20px;
    height: 100%;
    margin-bottom: -10%;
}

.input-group{
    margin-left:4rem;
}
.icon-container {
    position: relative;
    text-align: center;
}
.Signup{
    margin-top: 5px;
    position: relative;
    left: 10px;
    font-size: 23px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Fix{
    position: relative;
}

.Box {
    position: relative;
    left: 1%;
    margin-right: 15px;
    border-radius: 5px;
}

.Date_part{
    position: relative;
    height: 12vh;
    width: 50%;
}

#female {
    position: absolute;
    left: 5px;
    bottom: 31%;
    height: 8.5vh;
    width: 100%;
}

}



@media (max-width: 768px ) {

    .contains {
        background-color: rgba(255, 255, 255, 0.918) 1px 1px 1px 1px;
        max-width: 330px;
        border: 1px solid #999;
        position: relative;
        box-shadow: rgba(37, 37, 37, 0.8) 1px 1px 1px 1px;
        box-sizing: border-box;
        margin-top: 2%;
        margin-left: 17%;
        border-radius: 8px;
        right: 19px;
        height: 100%;
        margin-bottom: -10%;
    }

    .input-group{
        margin-left:4rem;
    }

    .icon-container {
        position: relative;
        text-align: center;
    }
    .Signup{
        margin-top: 5px;
        position: relative;
        left: 10px;
        font-size: 23px;
        font-weight: 400;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .Fix{
        position: relative;
    }
    
    .Box {
        position: relative;
        left: 1%;
        margin-right: 15px;
        border-radius: 5px;
    }
    
    .Date_part{
        position: relative;
        height: 12vh;
        width: 50%;
    }
    
    #female {
        position: absolute;
        left: 5px;
        bottom: 31%;
        height: 8.5vh;
        width: 100%;
    }
    
    }


    