* {
	box-sizing: border-box;
	font-family: 'Quicksand',sans-serif;
}
html , body {
	margin: 0;
}

input.error, select.error, textarea.error{
	border-bottom:1px solid red !important;
}
label.error {
	color: red!important;
	margin-top:5px;
	margin-left:10px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
a { 
	color: inherit; 
	text-decoration: none;
} 
.text-center {
	text-align: center!important;
}
.btn {
	color: white;
	background-color: #1762A7;
	padding: .75rem 1.5rem;
	border-radius: .5rem;
	text-decoration: none;
	font-size: .9rem;
	outline: none;
	border: none;
	cursor: pointer;
}
.login-container {
	background-color: white;
	padding: 50px 30px;
	min-width: 300px;
	width: 50%;
	max-width: 500px;
	border-radius: 20px;
}
.login-title {
	color: black;
	text-align: center;
	margin: 0;
	margin-bottom: 40px;
	font-size: 1.5em;
	font-weight: normal;
}
.input-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.input-group label {
	color: black;
	font-weight: lighter;
	font-size: 1em;
	margin-bottom: 7px;
}

.input-group input {
	border-right:none;
	border-top:none;
	border-left:none;
	border-bottom: 1px solid #f5f3f0;
	outline: none;
	border-radius: 0px;
	font-size: 1em;
	padding: .3em .55em;
	font-weight: lighter;
}
.btn {
	padding: 10px 30px;
	width: 100%;
	border-radius: 5px;
	background-color: #337aff;
	border: none;
	outline: none;
	font-size: 1em;
	color: white;
	font-weight: normal;
	margin-top: 0px;
	cursor: pointer;
}
.bottom-btn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: .80em;
	color: #337aff;
	cursor: pointer;
}






