/* Technos Standard: For Desktop: */


html, body{
	overflow-x: hidden;
	background-color: #F6F8FC !important;
  }
  
  body{
	background-color: #F6F8FC !important;
  }
  .btn-group .btn {
	padding: 0px 12px;
  }

 .content-wrapper{
        padding: 0px !important;
    }
  
  .page-title {
	color: #060606;
	font-size: 24px;
  }
  .title-line {
	margin-top: 0px;
  }

  .button-title {
	text-align: right;
  }
  
  th,
  td {
	font-size: 13px !important;
	border-top: 1px solid #E7ECF0 !important;
	vertical-align: middle !important;
  }
  
  label.required::after {
	content: " *";
	color: red;
  }
  
  /* Technos Standard: For mobile phones: */
  @media only screen and (max-width: 768px) {
	.page-title {
	  color: #424f5c;
	  font-size: 22px;
	}
  
	.button-title {
	  text-align: left;
	  margin-top: 5px;
	}
  
	.hide-mob{
	  display: none;
	}
  }
  
  div.dataTables_wrapper div.dataTables_paginate {
	display: flex;
  }
  
  .card-body {
	padding: 15px 20px !important;
  }
  /* .card-header {
	background-color: #0f67a3 !important;
  } */
  #tab_pills_container li a.active {
	border-bottom: 1px solid #dee2e6;
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	background-color: #0f67a3 !important;
	color: #fff !important;
  }
  
  #tab_pills_container li a:not(.active):hover {
	background-color: #ccc !important;
  }
  
  .approval_card {
	cursor: pointer;
	border-bottom: 1px solid #dadada;
  }
  
  .approval_card img {
	width: 40px;
	height: 40px;
  }
  
  .approval_card p {
	font-size: 10px;
  }
  
  .approval_card a:not(.btn) {
	font-size: 10px;
  }
  
  .approval_card:hover {
	background-color: #e0f2ff;
  }
  
  .view_overtime_details:hover {
	background-color: #e0f2ff;
  }
  
  .view_adjustment_details:hover {
	background-color: #e0f2ff;
  }
  
  .btn-primary-inactive {
	background-color: #bfe3fb;
	color: #0d74bc !important;
  }
  
  .btn-primary-inactive:hover {
	background-color: #76c4f8;
	color: #fff !important;
  }
  
  .hide {
	display: none;
	border: none;
  }
  
  .TABLE_DATA_ROW {
	cursor: pointer;
  }
  
  
  .sub-header {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #F8F8F8;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
  }
  .elevation-1{
	box-shadow: none !important;
}

  .sub-item {
	float: left;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #dddddd;
  }
  
  .sub-item a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  .sub-item a:hover {
	background-color: #EEEEEE;
  }
  
  .sub-item .active {
	background-color: #CCF3FF !important;
  }
  .nav-link .active{
	background-color: #E5E5E5 !important;
  }
  .nav-link .active .main{
	background-color: #007bff !important;
  }



  thead {
	background-color: #EDF3F8;
  }

  .nav.nav-tabs{
	background-color: #FFFFFF !important;
	border-style:none!important;
  }

  td
	{
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	}
	.head-tab.nav-link{
		color: #424f5c !important;
		border-style: none !important;
	}
	.head-tab.nav-link.active{
		color:#424f5c!important;
		background-color: #FFFFFF !important;
		border-color: #FFFFFF !important;
		border-bottom: 3px solid #007bff !important;
	}

	.head-tab.nav-link:hover{
		color:#007bff!important;
		border-color: #FFFFFF !important;
		/* border-bottom: 3px solid #007bff !important; */
	}

	.head-tab.nav-link.active:hover{
		color:#424f5c!important;
		background-color: #FFFFFF !important;
		border-color: #FFFFFF !important;
		border-bottom: 3px solid #007bff !important;
	}

	div > * {
		vertical-align:middle;  /* Align children to middle of line */
	}

	.technos-button-gray{
		border-style: none	!important;
		color: white	!important;
		background-color: #ADADAD !important;
	}

	.technos-button-green{
		border-style: none	!important;
		color: white	!important;
		background-color: #7AC68B !important;
	}
  
	.technos-button-blue{
		border-style: none	!important;
		color: white	!important;
		background-color: #7aafc6 !important;
	} 

	.technos-button-blue:hover {
		background-color: #5d94ad !important; /* Darker shade of blue */
		color: white !important; /* Keep text white */
	}